<a href="https://colab.research.google.com/github/CarlosDorival/TestingIA/blob/main/arboldeciciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arbol de deciosiones

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv('/content/car.csv', header = None)

# Secci√≥n nueva

In [5]:
data.columns =['price','maintenance','n_doors','capacity', 'size_lug','safety','class']

In [6]:
data.head(3)

   price maintenance n_doors capacity size_lug safety  class
0  vhigh       vhigh       2        2    small    low  unacc
1  vhigh       vhigh       2        2    small    med  unacc
2  vhigh       vhigh       2        2    small   high  unacc

In [7]:
data.price.replace(('vhigh','high','med','low'),(4,3,2,1),inplace=True)
data.maintenance.replace(('vhigh','high','med','low'),(4,3,2,1),inplace=True)
data.n_doors.replace(('2','3','4','5more'),(1,2,3,4),inplace=True)
data.capacity.replace(('2','4','more'),(1,2,3),inplace=True)
data.size_lug.replace(('small','med','big'),(1,2,3),inplace=True)
data.safety.replace(('low','med','high'),(1,2,3),inplace=True)

In [8]:
data['class'].replace(('unacc','acc','good','vgood'),(1,2,3,4), inplace= True)

In [9]:
data.head(16)

    price  maintenance  n_doors  capacity  size_lug  safety  class
0       4            4        1         1         1       1      1
1       4            4        1         1         1       2      1
2       4            4        1         1         1       3      1
3       4            4        1         1         2       1      1
4       4            4        1         1         2       2      1
5       4            4        1         1         2       3      1
6       4            4        1         1         3       1      1
7       4            4        1         1         3       2      1
8       4            4        1         1         3       3      1
9       4            4        1         2         1       1      1
10      4            4        1         2         1       2      1
11      4            4        1         2         1       3      1
12      4            4        1         2         2       1      1
13      4            4        1         2         2       2      1
14      4            4        1         2         2       3      1
15      4            4        1         2         3       1      1

recomendacion
* 80% aprendizaje
* 20% pruebas

In [10]:
dataset = data.values
X = dataset[:,0:6]
Y = np.asarray(dataset[:,6], dtype = 'S6')

In [11]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [12]:
X_Train, X_Test, Y_Train, Y_test = train_test_split(X,Y, test_size=0.2, random_state =0)

In [13]:
tr= tree.DecisionTreeClassifier(max_depth=10)

In [14]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [15]:
y_pred = tr.predict(X_Test)

In [16]:
y_pred

array([b'1', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'3', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'3', b'2', b'1',
       b'1', b'2', b'1', b'2', b'2', b'2', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'3', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

In [17]:
score = tr.score(X_Train, Y_Train)

In [18]:
print('Precision: %0.4f' %(score))

Precision: 0.9986